@{
	ViewBag.Title = "Query";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	<h2>Query</h2>

	<h4>Restfull query</h4>
		<input type="text" id="query" placeholder="Insert request"/>
		<button id="submit">Submit</button>
	<div id="resultDiv">
		<!-- This is where the response will be displayed -->
	</div>

}
else
{
	<h1>Please login to use this submit your request</h1>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$("#submit").click(function () {
			if ($("#query").val() !== "") {
				$.ajax({
					type: "POST",
					url: "/APICalls/Query",
					contentType: "application/json; charset=utf-8",
					data: '{"query":"' + $("#query").val() + '"}',
					dataType: "html",
					success: function (result, status, xhr) {
						$("#resultDiv").html(result);
					},
					error: function (xhr, status, error) {
						$("#resultDiv").html("ERROR " + error);
					}
				});
			} else {
				alert("Request field must not be empty!")
			}
		});
	});
</script>